<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yellowclass.plugin_native.yc_native">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service android:name=".services.ForegroundService" />
        <receiver android:name=".receivers.ShareTapReceiver" android:exported="true" />
        <receiver android:name=".receivers.NotifClickReceiver" android:exported="true" />
    </application>


<!--For Sharing Functionality-->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

</manifest>
